<{formBlock}>
  <label for="email">Email</label>
  <br>
  %= await ctx.emailFieldTag('email',{value: signup.email});
  <br>
  %= await ctx.submitButtonTag(caption)
<{/formBlock}>
%= await ctx.formFor(target, {class: 'signup-form'}, await formBlock())
