% view.layout = 'default';
<h2><%= msg %></h2>
% for (const err of form.errors) {
    <p style="color:red"> <%= err %> </p>
% }
%= await ctx.include({view: 'users/_form'}, {caption: 'Update settings', target: ['update_user', {values: { id: user.id }}]})
